<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AiChorus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AiChorus.Properties.Settings>
            <setting name="LastProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerLabelsToUrls" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LanguageDepot.org [resumable sync]</string>
                        <string>http://resumable.languagedepot.org</string>
                        <string>LanguageDepot.org [private]</string>
                        <string>http://hg-private.languagedepot.org</string>
                        <string>LanguageDepot.org [legacy sync]</string>
                        <string>http://hg-public.languagedepot.org</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GoogleSheetsClientId" serializeAs="String">
                <value>368241377596-r8llc2og0en7inv9ubhgbro6qitgpq5k.apps.googleusercontent.com</value>
            </setting>
            <setting name="GoogleSheetsClientSecret" serializeAs="String">
                <value>v40N9qlIejq8CZiskgrYd-ZX</value>
            </setting>
        </AiChorus.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
