<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AiChorus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AiChorus.Properties.Settings>
            <setting name="LastProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GoogleSheetsCredentialsClientId" serializeAs="String">
                <value>k6/KWKfduEWPXvdayves4DBdLgdR9w09GICKWVMO4PeOzf6YGbGAGCPwgwIgoP4tuzE4LOvL4jLSUuQ5vW5nyEJsj/0DjMV3e5lMq+pEm0U=</value>
            </setting>
            <setting name="GoogleSheetsCredentialsClientSecret" serializeAs="String">
                <value>bQyMqDyAzkDFPoAGRydbKCDx3QfoS2X9UNB9IqeqMss=</value>
            </setting>
        </AiChorus.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Markdig.Signed" publicKeyToken="870da25a133885f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.23.0.0" newVersion="0.23.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
