################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
*.suo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Pp]kg/

/packages
/DepDLLs/AiChorus.*
/DepDLLs/AutoUpgrade.*
/StoryEditor/StoryProject.xsc
/OneStory Releases/OSE4.0/zipped
/OneStory Releases/OSE4.0/StoryEditor.exe.manifest - Copy.xml
/OneStory Releases/OSE4.0/StoryEditor.exe.manifest - Copy (6).xml
/OneStory Releases/OSE4.0/StoryEditor.exe.manifest - Copy (5).xml
/OneStory Releases/OSE4.0/StoryEditor.exe.manifest - Copy (4).xml
/OneStory Releases/OSE4.0/StoryEditor.exe.manifest - Copy (3).xml
/OneStory Releases/OSE4.0/StoryEditor.exe.manifest - Copy (2).xml
/OneStory Releases/OSE4.0 MSI
/OneStory Releases/OSE4.0 MSI.zip
/OneStory Releases/OSE4.0/client/AutoUpgrade.xml
/OneStory Releases/OSE4.0/client/AutoUpgrade.pdb
/OneStory Releases/OSE4.0/client/AutoUpgrade.Lib.xml
/OneStory Releases/OSE4.0/client/AutoUpgrade.Lib.pdb
/MercurialExtensions
