<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="MergeModulesFragment">
    <Property Id='MergeModulesFragment' Value='1'/>

    <DirectoryRef Id="INSTALLFOLDER">
      <!-- by using the package's reference, it forces us to update the merge module if the nuget is ever updated (but you have
           to download the msm from the palaso build machine artifacts for the version of nuget you have installed (and put it in
           the packages\SIL.Chorus.App... folder. 
           Here are the links to find the proper build:
           https://build.palaso.org/viewType.html?buildTypeId=Chorus_Win32masterContinuous or
           http://build.palaso.org/guestAuth/repository/download/Chorus_Win32masterContinuous/308888:id/ChorusMergeModule.msm
      -->
      <Merge Id="ChorusMergeModule" Language="1033" SourceFile="..\..\packages\SIL.Chorus.App.5.0.0-beta0017\ChorusMergeModule.msm" DiskId="1"/>
      <Merge Id="AIGuesserMM" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\AIGuesserMM.msm" DiskId="1"/>
      <Merge Id="CcDLLsMM" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\CcDLLsMM.msm" DiskId="1"/>
      <Merge Id="ClipboardEncConverter" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\ClipboardEncConverterMM.msm" DiskId="1"/>
      <Merge Id="EC_40_MM" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\EC_40_MM.msm" DiskId="1"/>
      <Merge Id="ICU_40" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\ICU_40.msm" DiskId="1"/>
      <Merge Id="SetPath" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\SetPath.msm" DiskId="1"/>
      <Merge Id="TECkitDLLsMM" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\TECkitDLLsMM.msm" DiskId="1"/>
    </DirectoryRef>

    <DirectoryRef Id="SystemFolder">
      <Merge Id="CRT" Language="1033" SourceFile="..\ExternalMergeModules\Microsoft_VC142_CRT_x86.msm" DiskId="1"/>
    </DirectoryRef>
  </Fragment>
</Wix>
