<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment Id="MergeModulesFragment">
    <Property Id="MergeModulesFragment" Value="1" />

    <DirectoryRef Id="INSTALLFOLDER">
      <!-- by using the package's reference, it forces us to update the merge module if the nuget is ever updated (but you have
           to download the msm from the palaso build machine artifacts for the version of nuget you have installed (and put it in
           the packages\SIL.Chorus.App... folder. 
           UPDATE (2022-09-25): they've stopped the build on TC and now it's in github actions, so until they add the msm to
           as an artifact of the github build (from where we might could get it), I'll just put the msm in the ExternalMergeModules
           folder w/ the others. So the below is not used anymore (in build.yml)
           
           Here are the links to find the proper build:
           https://build.palaso.org/viewType.html?buildTypeId=Chorus_Win32masterContinuous or
           https://build.palaso.org/guestAuth/repository/download/Chorus_Win32masterContinuous/308888:id/ChorusMergeModule.msm
           These must be updated when you update to a new version of Chorus, bkz they're harvested from this very file by GitHub actions
           to know how to download the proper msm. Also, if you change versions, you also have to go into:
           TeamCity=>OneStory=>OneStory-develop-Win32-Installer=>Edit Buid Configuration=>Parameters and set these two config parameters to the (new) values:
           vcsroot.OneStory_EditorCommon.chorusMergeModuleVersion
           vcsroot.OneStory_EditorCommon.SilChorusAppNugetFolderName
          <Merge Id="ChorusMergeModule" Language="1033" SourceFile="..\..\packages\SIL.Chorus.App.5.0.0\ChorusMergeModule.msm" DiskId="1"/>
      -->
      <Merge Id="ChorusMergeModule" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\ChorusMergeModule.msm" DiskId="1" />
      <Merge Id="AIGuesserMM" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\AIGuesserMM.msm" DiskId="1" />
      <Merge Id="EcTranslatorsMM" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\EcTranslatorsMM.msm" DiskId="1" />
      <!-- SilEncConverters40.dll references EncConverterHostExe.exe (which hosts converters out of process),
           and this is the only thing that installs it -->
      <Merge Id="EncConverterHostExeMM" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\EncConverterHostExeMM.msm" DiskId="1" />
      <Merge Id="CcDLLsMM" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\CcDLLsMM.msm" DiskId="1" />
      <Merge Id="ClipboardEncConverter" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\ClipboardEncConverterMM.msm" DiskId="1" />
      <Merge Id="EC_40_MM" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\EC_40_MM.msm" DiskId="1" />
      <Merge Id="ICU_40" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\ICU_40.msm" DiskId="1" />
      <Merge Id="SetPath" Language="1033" SourceFile="..\..\Installer\ExternalMergeModules\SetPath.msm" DiskId="1" />
      <Merge Id="TECkitDLLsMM" Language="1033" SourceFile="$(var.EcDistFilesPath)\MergeModules\x86\Release\TECkitDLLsMM.msm" DiskId="1" />
    </DirectoryRef>

    <!-- The VC++ CRT merge module (Microsoft_VC142_CRT_x86.msm, a stale v142/VS2019 build) used to be merged
         in here. Removed in favor of the bundle's own chained vc_redist.x86.exe ExePackage (see Bundle.wxs),
         which is now the sole source of the VC++ runtime - same fix as the sibling silconverters repo, for the
         same reasons (wrong/stale toolset version, and merge-module-frozen runtime DLLs can never be serviced
         by Windows Update the way the redistributable installer's are). Microsoft_VC142_MFC_x86.msm was never
         actually referenced by this Feature (confirmed - it sat unused in ExternalMergeModules), so there was
         nothing else to remove here. -->
  </Fragment>
</Wix>
