<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Id="AdaptItChorusPlugin.dll" Guid="{DE4093EA-7731-4B1B-BCA7-254F717DDCC7}">
        <File Id="AdaptItChorusPlugin.dll" Name="AdaptIt-ChorusPlugin.dll" Vital="yes" KeyPath="yes" AssemblyManifest="AdaptItChorusPlugin.dll" AssemblyApplication="AdaptItChorusPlugin.dll" Assembly=".net" Source="..\..\output\release\AdaptIt-ChorusPlugin.dll"/>
      </Component>
      <Component Id="AiChorus.exe" Guid="{87538C01-6CCA-490E-88AC-020311E17332}">
        <File Id="AiChorus.exe" Name="AiChorus.exe" Vital="yes" KeyPath="yes" AssemblyManifest="AiChorus.exe" AssemblyApplication="AiChorus.exe" Assembly=".net" Source="..\..\output\release\AiChorus.exe">
          <!--this doesn't really do anything in the program menu..ai
                <Shortcut Id="AiChorus.exe" Directory="ApplicationStartMenuFolder" Name="Chorus Project Application" Description="Can be used to edit *.cpc files to manage all OneStory and AdaptIt projects used by OneStory Editor"
                      IconIndex="0" Show="normal" WorkingDirectory="INSTALLFOLDER" Arguments="\e" Advertise="no" />-->
        </File>
        <File Id="chorus.ico" Name="chorus.ico" Source="..\..\AiChorus\Resources\chorus.ico"/>

        <!-- App Paths to support Start,Run -> "SIL\OneStoryEditor" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\AiChorus.exe" Value="[!AiChorus.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\AiChorus.exe" Name="Path" Value="[INSTALLFOLDER]" Type="string" />

        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\AiChorus.exe\SupportedTypes" Name=".cpc" Value="Chorus Project Editor File" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\AiChorus.exe\shell\open" Name="Chorus project config file" Value="Chorus Project Editor File" Type="string" />

        <!-- ChorusProject.Document ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\ChorusProject.Document" Name="Chorus project config file" Value="Chorus Project Editor File" Type="string" />
        <ProgId Id="ChorusProject.Document" Description="The configuration tool for Chorus projects" Icon="chorus.ico" Advertise="no">
          <Extension Id="cpc">
            <Verb Id="open" Command="Open with Chorus Project Editor" TargetFile="AiChorus.exe" Argument="/f &quot;%1&quot;" />
            <MIME Advertise="no" ContentType="application/cpc" Default="yes" />
          </Extension>
        </ProgId>

        <!-- Optional: add an 'Synchronize' to 'right click' even when not associated -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.cpc\shell\sync.AiChorus.exe" Value="Send/Receive (Synchronize) Chorus Projects" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.cpc\shell\sync.AiChorus.exe\command" Value="&quot;[INSTALLFOLDER]AiChorus.exe&quot; /s &quot;%1&quot;" Type="string" />
      </Component>
      <Component Id="AiChorus.exe.config" Guid="{3BE59DB2-4E87-402F-A192-608071E02B5B}">
        <File Id="AiChorus.exe.config" Name="AiChorus.exe.config" KeyPath="yes" Source="..\..\output\release\AiChorus.exe.config"/>
      </Component>
      <Component Id="AiChorus.pdb" Guid="{BFBD6A28-2CF1-4C57-B32A-B1B2A4F9194A}">
        <File Id="AiChorus.pdb" Name="AiChorus.pdb" KeyPath="yes" Source="..\..\output\release\AiChorus.pdb"/>
      </Component>
      <Component Id="AutoUpgrade.exe" Guid="{A8999229-7C20-48DE-9B73-25B9EC1F3C7B}">
        <File Id="AutoUpgrade.exe" Name="AutoUpgrade.exe" Vital="yes" KeyPath="yes" AssemblyManifest="AutoUpgrade.exe" AssemblyApplication="AutoUpgrade.exe" Assembly=".net" Source="..\..\output\release\AutoUpgrade.exe"/>
      </Component>
      <Component Id="AutoUpgrade.exe.config" Guid="{CC064297-42B6-4F6F-8A00-934F78959694}">
        <File Id="AutoUpgrade.exe.config" Name="AutoUpgrade.exe.config" KeyPath="yes" Source="..\..\output\release\AutoUpgrade.exe.config"/>
      </Component>
      <Component Id="AutoUpgrade.Lib.dll" Guid="{A086B029-833C-4754-B383-8790F79190D4}">
        <File Id="AutoUpgrade.Lib.dll" Name="AutoUpgrade.Lib.dll" Vital="yes" KeyPath="yes" AssemblyManifest="AutoUpgrade.Lib.dll" AssemblyApplication="AutoUpgrade.Lib.dll" Assembly=".net" Source="..\..\output\release\AutoUpgrade.Lib.dll"/>
      </Component>
      <Component Id="LICENSE.txt" Guid="{2E63C2A9-0F99-4382-9F31-39070CBDD475}">
        <File Id="LICENSE.txt" Name="LICENSE.txt" KeyPath="yes" Source="..\..\LICENSE.txt"/>
      </Component>

      <Component Id="LanguageCodes.tab" Guid="{056F4214-4E79-4860-9713-CB05412DD627}">
        <File Id="LanguageCodes.tab" Name="LanguageCodes.tab" KeyPath="yes" Source="..\..\output\release\LanguageCodes.tab"/>
      </Component>

      <!--The following 5 components are needed for SWORD support-->
      <Component Id="libsword.dll" Guid="{B5D08D96-A5B2-48E2-8D52-2EE0CEA47CEA}">
        <File Id="libsword.dll" Name="libsword.dll" Vital="yes" KeyPath="yes" Source="..\..\DepDLLs\libsword.dll"/>
      </Component>
      <Component Id="libbz2.dll" Guid="{372BC160-7213-4159-B7B8-5B10CA3BC67C}">
        <File Id="libbz2.dll" Name="libbz2.dll" Vital="yes" KeyPath="yes" Source="..\..\DepDLLs\libbz2.dll"/>
      </Component>
      <Component Id="liblzma.dll" Guid="{5D737217-9B5F-4A0C-BA9E-26CBEE486F1F}">
        <File Id="liblzma.dll" Name="liblzma.dll" Vital="yes" KeyPath="yes" Source="..\..\DepDLLs\liblzma.dll"/>
      </Component>
      <Component Id="CSSword.dll" Guid="{BFCB1E49-EAA4-49A4-A685-E0DAD1B169A4}">
        <File Id="CSSword.dll" Name="CSSword.dll" Vital="yes" KeyPath="yes" AssemblyManifest="CSSword.dll" AssemblyApplication="CSSword.dll" Assembly=".net" Source="..\..\DepDLLs\CSSword.dll"/>
        <Environment Id="SWORD_PATH" Name="SWORD_PATH" Action="set" System="yes" Part="first" Value="[INSTALLFOLDER]SWORD" />
      </Component>

      <Component Id="FluentFTP.dll" Guid="{025B7112-DB25-4783-940B-DED74DEFBB9A}">
        <File Id="FluentFTP.dll" Name="FluentFTP.dll" Vital="yes" KeyPath="yes" Source="..\..\output\release\FluentFTP.dll"/>
      </Component>
      <Component Id="GemBox.Document.dll" Guid="{22B409D8-B508-4B45-9003-0DA619B576B2}">
        <File Id="GemBox.Document.dll" Name="GemBox.Document.dll" Vital="yes" KeyPath="yes" AssemblyManifest="GemBox.Document.dll" AssemblyApplication="GemBox.Document.dll" Assembly=".net" Source="..\..\output\release\GemBox.Document.dll"/>
      </Component>
      <Component Id="Google.Apis.Auth.dll" Guid="{E7008ADF-B06B-4B33-AE69-9D7BCF87EF56}">
        <File Id="Google.Apis.Auth.dll" Name="Google.Apis.Auth.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Google.Apis.Auth.dll" AssemblyApplication="Google.Apis.Auth.dll" Assembly=".net" Source="..\..\output\release\Google.Apis.Auth.dll"/>
      </Component>
      <Component Id="Google.Apis.Auth.pdb" Guid="{1E1554CE-D9E7-4DBB-970B-B892B765FFBD}">
        <File Id="Google.Apis.Auth.pdb" Name="Google.Apis.Auth.pdb" KeyPath="yes" Source="..\..\output\release\Google.Apis.Auth.pdb"/>
      </Component>
      <Component Id="Google.Apis.Auth.xml" Guid="{5ACC3524-DB40-43AE-AE8B-97E7007E7330}">
        <File Id="Google.Apis.Auth.xml" Name="Google.Apis.Auth.xml" KeyPath="yes" Source="..\..\output\release\Google.Apis.Auth.xml"/>
      </Component>
      <Component Id="Google.Apis.Auth.PlatServ.dll" Guid="{A8D9DBCB-385E-4462-A07D-BA5B57E0E673}">
        <File Id="Google.Apis.Auth.PlatServ.dll" Name="Google.Apis.Auth.PlatformServices.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Google.Apis.Auth.PlatServ.dll" AssemblyApplication="Google.Apis.Auth.PlatServ.dll" Assembly=".net" Source="..\..\output\release\Google.Apis.Auth.PlatformServices.dll"/>
      </Component>
      <Component Id="Google.Apis.Core.dll" Guid="{C6025EB9-CDB0-46A0-9641-A85B677EDE53}">
        <File Id="Google.Apis.Core.dll" Name="Google.Apis.Core.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Google.Apis.Core.dll" AssemblyApplication="Google.Apis.Core.dll" Assembly=".net" Source="..\..\output\release\Google.Apis.Core.dll"/>
      </Component>
      <Component Id="Google.Apis.Core.pdb" Guid="{9C97EE7D-5ABF-41A3-A900-69839BDCBA66}">
        <File Id="Google.Apis.Core.pdb" Name="Google.Apis.Core.pdb" KeyPath="yes" Source="..\..\output\release\Google.Apis.Core.pdb"/>
      </Component>
      <Component Id="Google.Apis.Core.xml" Guid="{3DAEC82C-3F98-437B-BE65-118D46BC2390}">
        <File Id="Google.Apis.Core.xml" Name="Google.Apis.Core.xml" KeyPath="yes" Source="..\..\output\release\Google.Apis.Core.xml"/>
      </Component>
      <Component Id="Google.Apis.dll" Guid="{BB079BFE-A2AD-4610-947D-446EBCA25EF5}">
        <File Id="Google.Apis.dll" Name="Google.Apis.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Google.Apis.dll" AssemblyApplication="Google.Apis.dll" Assembly=".net" Source="..\..\output\release\Google.Apis.dll"/>
      </Component>
      <Component Id="Google.Apis.pdb" Guid="{EA56A381-48A5-4CA0-83F1-722AA796E27C}">
        <File Id="Google.Apis.pdb" Name="Google.Apis.pdb" KeyPath="yes" Source="..\..\output\release\Google.Apis.pdb"/>
      </Component>
      <Component Id="Google.Apis.xml" Guid="{7DC4CDD1-F0AB-4C75-BB1A-F1C8EE2D9E5F}">
        <File Id="Google.Apis.xml" Name="Google.Apis.xml" KeyPath="yes" Source="..\..\output\release\Google.Apis.xml"/>
      </Component>
      <Component Id="Google.Apis.PlatformServices.dll" Guid="{BA92C3F1-6887-4233-8271-D9F89E4F7D00}">
        <File Id="Google.Apis.PlatformServices.dll" Name="Google.Apis.PlatformServices.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Google.Apis.PlatformServices.dll" AssemblyApplication="Google.Apis.PlatformServices.dll" Assembly=".net" Source="..\..\output\release\Google.Apis.PlatformServices.dll"/>
      </Component>
      <Component Id="Google.Apis.Sheets.v4.dll" Guid="{C1F6937F-D0D8-4BC7-9D33-5F825C6CA016}">
        <File Id="Google.Apis.Sheets.v4.dll" Name="Google.Apis.Sheets.v4.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Google.Apis.Sheets.v4.dll" AssemblyApplication="Google.Apis.Sheets.v4.dll" Assembly=".net" Source="..\..\output\release\Google.Apis.Sheets.v4.dll"/>
      </Component>
      <Component Id="Google.Apis.Sheets.v4.pdb" Guid="{BBF2288D-F997-4D97-8BB1-FD9B569676B7}">
        <File Id="Google.Apis.Sheets.v4.pdb" Name="Google.Apis.Sheets.v4.pdb" KeyPath="yes" Source="..\..\output\release\Google.Apis.Sheets.v4.pdb"/>
      </Component>
      <Component Id="Google.Apis.Sheets.v4.xml" Guid="{3C93F580-85AE-42FC-A247-27538C3C8492}">
        <File Id="Google.Apis.Sheets.v4.xml" Name="Google.Apis.Sheets.v4.xml" KeyPath="yes" Source="..\..\output\release\Google.Apis.Sheets.v4.xml"/>
      </Component>
      <Component Id="HtmlEditor.dll" Guid="{D145DD63-E101-43B2-843A-8DF3FA75092F}">
        <File Id="HtmlEditor.dll" Name="HtmlEditor.dll" Vital="yes" KeyPath="yes" AssemblyManifest="HtmlEditor.dll" AssemblyApplication="HtmlEditor.dll" Assembly=".net" Source="..\..\output\release\HtmlEditor.dll"/>
      </Component>
      <Component Id="Ionic.Zip.dll" Guid="{24C8EB0B-BCA4-42C7-AA59-D4892C44AB4B}">
        <File Id="Ionic.Zip.dll" Name="Ionic.Zip.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Ionic.Zip.dll" AssemblyApplication="Ionic.Zip.dll" Assembly=".net" Source="..\..\output\release\Ionic.Zip.dll"/>
      </Component>
      <Component Id="Keyman7Interop.dll" Guid="{5D4CAB04-CE3C-4B9F-A709-6752BA8EA15A}">
        <File Id="Keyman7Interop.dll" Name="Keyman7Interop.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Keyman7Interop.dll" AssemblyApplication="Keyman7Interop.dll" Assembly=".net" Source="..\..\output\release\Keyman7Interop.dll"/>
      </Component>
      <Component Id="Keyman10Interop.dll" Guid="{354530E9-659F-4B1B-97A2-38ECDFE66709}">
        <File Id="Keyman10Interop.dll" Name="Keyman10Interop.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Keyman10Interop.dll" AssemblyApplication="Keyman10Interop.dll" Assembly=".net" Source="..\..\output\release\Keyman10Interop.dll"/>
      </Component>
      <Component Id="KeymanLink.dll" Guid="{A50B7EA6-FF86-4459-8E03-AE23D61D7A5A}">
        <File Id="KeymanLink.dll" Name="KeymanLink.dll" Vital="yes" KeyPath="yes" AssemblyManifest="KeymanLink.dll" AssemblyApplication="KeymanLink.dll" Assembly=".net" Source="..\..\output\release\KeymanLink.dll"/>
      </Component>
      <Component Id="L10NSharp.dll" Guid="{D824370A-DC71-4EC7-AC81-EC32260B3AC1}">
        <File Id="L10NSharp.dll" Name="L10NSharp.dll" Vital="yes" KeyPath="yes" AssemblyManifest="L10NSharp.dll" AssemblyApplication="L10NSharp.dll" Assembly=".net" Source="..\..\output\release\L10NSharp.dll"/>
      </Component>
      <Component Id="MAPIEx.dll" Guid="{FCF9B71B-2AAB-4AA8-A96D-AE214F32F700}">
        <File Id="MAPIEx.dll" Name="MAPIEx.dll" Vital="yes" KeyPath="yes" Source="..\..\output\release\MAPIEx.dll"/>
      </Component>
      <Component Id="Microsoft.mshtml.dll" Guid="{804A4109-1683-486B-9287-3E8970E0D460}">
        <File Id="Microsoft.mshtml.dll" Name="Microsoft.mshtml.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Microsoft.mshtml.dll" AssemblyApplication="Microsoft.mshtml.dll" Assembly=".net" Source="..\..\output\release\Microsoft.mshtml.dll"/>
      </Component>
      <Component Id="Microsoft.Win32.Primitives.dll" Guid="{F8590416-8B65-4FC0-9846-5013905D4509}">
        <File Id="Microsoft.Win32.Primitives.dll" Name="Microsoft.Win32.Primitives.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Microsoft.Win32.Primitives.dll" AssemblyApplication="Microsoft.Win32.Primitives.dll" Assembly=".net" Source="..\..\output\release\Microsoft.Win32.Primitives.dll"/>
      </Component>
      <Component Id="NDesk.DBus.dll" Guid="{E41FE36F-7431-4A1F-BC17-7A552A96E1AF}">
        <File Id="NDesk.DBus.dll" Name="NDesk.DBus.dll" Vital="yes" KeyPath="yes" AssemblyManifest="NDesk.DBus.dll" AssemblyApplication="NDesk.DBus.dll" Assembly=".net" Source="..\..\output\release\NDesk.DBus.dll"/>
      </Component>
      <Component Id="NetLoc.dll" Guid="{B5CB761F-4E7B-4FD0-ADE1-37C8EE289574}">
        <File Id="NetLoc.dll" Name="NetLoc.dll" Vital="yes" KeyPath="yes" AssemblyManifest="NetLoc.dll" AssemblyApplication="NetLoc.dll" Assembly=".net" Source="..\..\output\release\NetLoc.dll"/>
      </Component>
      <Component Id="NetMAPI.dll" Guid="{0469D932-5D37-408F-9652-BD4D534896D0}">
        <File Id="NetMAPI.dll" Name="NetMAPI.dll" Vital="yes" KeyPath="yes" AssemblyManifest="NetMAPI.dll" AssemblyApplication="NetMAPI.dll" Assembly=".net" Source="..\..\output\release\NetMAPI.dll"/>
      </Component>
      <Component Id="netstandard.dll" Guid="{DBF0CC3F-6BEC-42E8-90D9-593EEF0D80D5}">
        <File Id="netstandard.dll" Name="netstandard.dll" Vital="yes" KeyPath="yes" AssemblyManifest="netstandard.dll" AssemblyApplication="netstandard.dll" Assembly=".net" Source="..\..\output\release\netstandard.dll"/>
      </Component>
      <Component Id="ParatextShared.dll" Guid="{98F5F31F-03A4-4E85-BDB9-70CA223A1D1E}">
        <File Id="ParatextShared.dll" Name="ParatextShared.dll" Vital="yes" KeyPath="yes" AssemblyManifest="ParatextShared.dll" AssemblyApplication="ParatextShared.dll" Assembly=".net" Source="..\..\output\release\ParatextShared.dll"/>
      </Component>
      <Component Id="SharedScrUtils.dll" Guid="{1688BC8F-10A9-4565-B6C3-F2F4B655DDD4}">
        <File Id="SharedScrUtils.dll" Name="SharedScrUtils.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SharedScrUtils.dll" AssemblyApplication="SharedScrUtils.dll" Assembly=".net" Source="..\..\output\release\SharedScrUtils.dll"/>
      </Component>
      <Component Id="StageTransitions.xml" Guid="{F82CCD91-6F07-49B5-B85F-9E0F5A2430E5}">
        <File Id="StageTransitions.xml" Name="StageTransitions.xml" KeyPath="yes" Source="..\..\output\release\StageTransitions.xml"/>
      </Component>
      <Component Id="StageTransitionsId.xml" Guid="{595F8689-FEB7-490C-9043-4FEDEC74BADB}">
        <File Id="StageTransitionsId.xml" Name="StageTransitionsId.xml" KeyPath="yes" Source="..\..\output\release\StageTransitionsId.xml"/>
      </Component>
      <Component Id="OneStoryChorusPlugin.dll" Guid="{4FB83131-54A9-4ACB-B91F-6F874549B0D0}">
        <File Id="OneStoryChorusPlugin.dll" Name="OneStory-ChorusPlugin.dll" Vital="yes" KeyPath="yes" AssemblyManifest="OneStoryChorusPlugin.dll" AssemblyApplication="OneStoryChorusPlugin.dll" Assembly=".net" Source="..\..\output\release\OneStory-ChorusPlugin.dll"/>
      </Component>
      <Component Id="StoryEditor.exe" Guid="{F6A646DC-50AB-4CB7-A954-12A504791F25}">
        <File Id="StoryEditor.exe" Name="StoryEditor.exe" Vital="yes" KeyPath="yes" AssemblyManifest="StoryEditor.exe" AssemblyApplication="StoryEditor.exe" Assembly=".net" Source="..\..\output\release\StoryEditor.exe">
          <Shortcut Id="StoryEditor.exe.Desktop" Directory="DesktopFolder" Name="OneStory Editor" Description="OneStory Editor"
                    IconIndex="0" Show="normal" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
          <Shortcut Id="StoryEditor.exe.StartMenu" Directory="ApplicationStartMenuFolder" Name="OneStory Editor" Description="OneStory Editor"
                    IconIndex="0" Show="normal" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
        <File Id="OneStory.ico" Name="OneStory.ico" Source="..\..\StoryEditor\OneStory.ico"/>

        <!-- App Paths to support Start,Run -> "SIL\OneStoryEditor" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\StoryEditor.exe" Value="[!StoryEditor.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\StoryEditor.exe" Name="Path" Value="[INSTALLFOLDER]" Type="string" />

        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\StoryEditor.exe\SupportedTypes" Name=".onestory" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\StoryEditor.exe\shell\open" Name="OneStory Editor" Value="OneStory Editor" Type="string" />

        <!-- OneStoryEditor.Document ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\OneStoryEditor.Document" Name="OneStory Editor" Value="OneStory Editor Project File" Type="string" />
        <ProgId Id="OneStoryEditor.Document" Description="OneStory Editor Project File" Icon="OneStory.ico" Advertise="no">
          <Extension Id="onestory">
            <Verb Id="open" Command="Open with OneStory Editor" TargetFile="StoryEditor.exe" Argument="&quot;%1&quot;" />
            <MIME Advertise="no" ContentType="application/onestory" Default="yes" />
          </Extension>
        </ProgId>

        <!-- Optional: add an 'Edit with onestory' to 'right click' even when not associated -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.onestory\shell\edit.StoryEditor.exe" Value="Edit with OneStory Editor" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.onestory\shell\edit.StoryEditor.exe\command" Value="&quot;[INSTALLFOLDER]StoryEditor.exe&quot; &quot;%1&quot;" Type="string" />
        <RemoveFolder Id='ApplicationStartMenuFolder' On='uninstall' />
      </Component>
      <Component Id="StoryEditor.exe.config" Guid="{0C9A4072-A9CD-4084-846D-77CAD54A98D7}">
        <File Id="StoryEditor.exe.config" Name="StoryEditor.exe.config" KeyPath="yes" Source="..\..\output\release\StoryEditor.exe.config"/>
      </Component>
      <Component Id="StoryEditor.pdb" Guid="{2960C93B-1E7D-494F-9D88-9DBC2CA757FF}">
        <File Id="StoryEditor.pdb" Name="StoryEditor.pdb" KeyPath="yes" Source="..\..\output\release\StoryEditor.pdb"/>
      </Component>
      <Component Id="Utilities.dll" Guid="{2B8C9E1B-66D5-4D22-A400-0F5289471E14}">
        <File Id="Utilities.dll" Name="Utilities.dll" KeyPath="yes" Source="..\..\output\release\Utilities.dll"/>
      </Component>

      <!--SendGrid dependencies, pulled from output folder via nuget in the projects-->
      <Component Id="SendGrid.dll" Guid="{34ABBA6F-1DA3-44BE-9D20-AF4111D4629A}">
        <File Id="SendGrid.dll" Name="SendGrid.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SendGrid.dll" AssemblyApplication="SendGrid.dll" Assembly=".net" Source="..\..\output\release\SendGrid.dll"/>
      </Component>
      <Component Id="SendGrid.pdb" Guid="{101F4A91-0956-46C2-8C58-3EDD10D330A5}">
        <File Id="SendGrid.pdb" Name="SendGrid.pdb" KeyPath="yes" Source="..\..\output\release\SendGrid.pdb"/>
      </Component>
      <Component Id="SendGrid.xml" Guid="{CEA8A2C7-C230-49E8-B91F-186A89005CCF}">
        <File Id="SendGrid.xml" Name="SendGrid.xml" KeyPath="yes" Source="..\..\output\release\SendGrid.xml"/>
      </Component>
      <Component Id="StarkbankEcdsa.dll" Guid="{1A017EA9-6FC2-49CB-A771-49F7B40784FA}">
        <File Id="StarkbankEcdsa.dll" Name="StarkbankEcdsa.dll" Vital="yes" KeyPath="yes" AssemblyManifest="StarkbankEcdsa.dll" AssemblyApplication="StarkbankEcdsa.dll" Assembly=".net" Source="..\..\output\release\StarkbankEcdsa.dll"/>
      </Component>
      <Component Id="System.Net.Http.dll" Guid="{067B7144-A8D4-46F9-BBA7-99E4E690E1B0}">
        <File Id="System.Net.Http.dll" Name="System.Net.Http.dll" Vital="yes" KeyPath="yes" AssemblyManifest="System.Net.Http.dll" AssemblyApplication="System.Net.Http.dll" Assembly=".net" Source="..\..\output\release\System.Net.Http.dll"/>
      </Component>

      <!--LibPalaso dependencies, pulled from output folder via nuget in the projects-->
      <Component Id="BouncyCastle.Crypto.dll" Guid="{4B0BC516-8CEC-487A-A9D0-4257680369A8}">
        <File Id="BouncyCastle.Crypto.dll" Name="BouncyCastle.Crypto.dll" Vital="yes" KeyPath="yes" AssemblyManifest="BouncyCastle.Crypto.dll" AssemblyApplication="BouncyCastle.Crypto.dll" Assembly=".net" Source="..\..\output\release\BouncyCastle.Crypto.dll"/>
      </Component>
      <Component Id="Commons.Xml.Relaxng.dll" Guid="{C02A7A94-9380-4AA3-A548-AB1BD4F1BA70}">
        <File Id="Commons.Xml.Relaxng.dll" Name="Commons.Xml.Relaxng.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Commons.Xml.Relaxng.dll" AssemblyApplication="Commons.Xml.Relaxng.dll" Assembly=".net" Source="..\..\output\release\Commons.Xml.Relaxng.dll"/>
      </Component>
      <Component Id="DialogAdapters.dll" Guid="{7B025089-7E0C-4EDB-91B7-EA149474636A}">
        <File Id="DialogAdapters.dll" Name="DialogAdapters.dll" Vital="yes" KeyPath="yes" AssemblyManifest="DialogAdapters.dll" AssemblyApplication="DialogAdapters.dll" Assembly=".net" Source="..\..\output\release\DialogAdapters.dll"/>
      </Component>
      <Component Id="ekm.oledb.data.dll" Guid="{F4B1308D-AF42-4E7C-B820-C3B506896982}">
        <File Id="ekm.oledb.data.dll" Name="ekm.oledb.data.dll" Vital="yes" KeyPath="yes" AssemblyManifest="ekm.oledb.data.dll" AssemblyApplication="ekm.oledb.data.dll" Assembly=".net" Source="..\..\output\release\ekm.oledb.data.dll"/>
      </Component>
      <Component Id="Enchant.Net.dll" Guid="{A17340AF-22AD-4770-BDDE-B025D0131570}">
        <File Id="Enchant.Net.dll" Name="Enchant.Net.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Enchant.Net.dll" AssemblyApplication="Enchant.Net.dll" Assembly=".net" Source="..\..\output\release\Enchant.Net.dll"/>
      </Component>
      <Component Id="ibusdotnet.dll" Guid="{7DEFF3FC-B43B-4989-869F-66D27EE9109F}">
        <File Id="ibusdotnet.dll" Name="ibusdotnet.dll" Vital="yes" KeyPath="yes" AssemblyManifest="ibusdotnet.dll" AssemblyApplication="ibusdotnet.dll" Assembly=".net" Source="..\..\output\release\ibusdotnet.dll"/>
      </Component>
      <Component Id="Interop.WIA.dll" Guid="{CB77538D-92AD-4CD8-8FCA-D27598A35C84}">
        <File Id="Interop.WIA.dll" Name="Interop.WIA.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Interop.WIA.dll" AssemblyApplication="Interop.WIA.dll" Assembly=".net" Source="..\..\output\release\Interop.WIA.dll"/>
      </Component>
      <Component Id="Markdig.Signed.dll" Guid="{D44DB444-758E-4DA5-B0CA-EE9F8B487C06}">
        <File Id="Markdig.Signed.dll" Name="Markdig.Signed.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Markdig.Signed.dll" AssemblyApplication="Markdig.Signed.dll" Assembly=".net" Source="..\..\output\release\Markdig.Signed.dll"/>
      </Component>
      <Component Id="MS.Net.PltfrmAbstractions" Guid="{44F0CA66-5B0A-4878-BB4A-AFE5700F559B}">
        <File Id="MS.Net.PltfrmAbstractions.dll" Name="Microsoft.DotNet.PlatformAbstractions.dll" Vital="yes" KeyPath="yes" AssemblyManifest="MS.Net.PltfrmAbstractions.dll" AssemblyApplication="MS.Net.PltfrmAbstractions.dll" Assembly=".net" Source="..\..\output\release\Microsoft.DotNet.PlatformAbstractions.dll"/>
      </Component>
      <Component Id="MS.Extns.DependencyModel.dll" Guid="{34FA67DE-C45B-49DB-BCE4-FB56F7AD3327}">
        <File Id="MS.Extns.DependencyModel.dll" Name="Microsoft.Extensions.DependencyModel.dll" Vital="yes" KeyPath="yes" AssemblyManifest="MS.Extns.DependencyModel.dll" AssemblyApplication="MS.Extns.DependencyModel.dll" Assembly=".net" Source="..\..\output\release\Microsoft.Extensions.DependencyModel.dll"/>
      </Component>
      <Component Id="Mono.Posix.dll" Guid="{F1029F85-AAC1-474A-B0A0-53F65145AF3B}">
        <File Id="Mono.Posix.dll" Name="Mono.Posix.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Mono.Posix.dll" AssemblyApplication="Mono.Posix.dll" Assembly=".net" Source="..\..\output\release\Mono.Posix.dll"/>
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="{2B6ED6CA-B9D3-4CD6-B360-97F52CE3C6C0}">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Newtonsoft.Json.dll" AssemblyApplication="Newtonsoft.Json.dll" Assembly=".net" Source="..\..\output\release\Newtonsoft.Json.dll"/>
      </Component>
      <Component Id="SIL.Core.Desktop.dll" Guid="{1243E3B4-3DA4-44F8-9994-65C52AD26E8A}">
        <File Id="SIL.Core.Desktop.dll" Name="SIL.Core.Desktop.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Core.Desktop.dll" AssemblyApplication="SIL.Core.Desktop.dll" Assembly=".net" Source="..\..\output\release\SIL.Core.Desktop.dll"/>
      </Component>
      <Component Id="SIL.Windows.Forms.Keyboarding.dll" Guid="{D06CBF8B-E2FA-4ED0-9C6B-5C4978FE30A6}">
        <File Id="SIL.Windows.Forms.Keyboarding.dll" Name="SIL.Windows.Forms.Keyboarding.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Windows.Forms.Keyboarding.dll" AssemblyApplication="SIL.Windows.Forms.Keyboarding.dll" Assembly=".net" Source="..\..\output\release\SIL.Windows.Forms.Keyboarding.dll"/>
      </Component>
      <Component Id="SIL.WritingSystems.dll" Guid="{437E1A05-1AC6-4B00-BABF-50DC4B23F433}">
        <File Id="SIL.WritingSystems.dll" Name="SIL.WritingSystems.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.WritingSystems.dll" AssemblyApplication="SIL.WritingSystems.dll" Assembly=".net" Source="..\..\output\release\SIL.WritingSystems.dll"/>
      </Component>
      <Component Id="Spart.dll" Guid="{1E1163B1-065E-47F5-8918-C375B6607F7A}">
        <File Id="Spart.dll" Name="Spart.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Spart.dll" AssemblyApplication="Spart.dll" Assembly=".net" Source="..\..\output\release\Spart.dll"/>
      </Component>
      <Component Id="stdole.dll" Guid="{53AE9895-06DC-4ED9-964A-737762CACC37}">
        <File Id="stdole.dll" Name="stdole.dll" Vital="yes" KeyPath="yes" AssemblyManifest="stdole.dll" AssemblyApplication="stdole.dll" Assembly=".net" Source="..\..\output\release\stdole.dll"/>
      </Component>
      <Component Id="TagLibSharp.dll" Guid="{7790E7D5-25C4-4D43-AEE5-B25DEABC10D2}">
        <File Id="TagLibSharp.dll" Name="TagLibSharp.dll" Vital="yes" KeyPath="yes" AssemblyManifest="TagLibSharp.dll" AssemblyApplication="TagLibSharp.dll" Assembly=".net" Source="..\..\output\release\TagLibSharp.dll"/>
      </Component>
      <Component Id="ChorusHub.exe" Guid="{656FABB3-E74D-411A-9A8E-8FB174171CD7}">
        <File Id="ChorusHub.exe" Name="ChorusHub.exe" Vital="yes" KeyPath="yes" AssemblyManifest="ChorusHub.exe" AssemblyApplication="ChorusHub.exe" Assembly=".net" Source="..\..\DepDLLs\ChorusHub.exe"/>
      </Component>
      <Component Id="ChorusHub.pdb" Guid="{0B6D38C4-55F5-4EE1-AD98-A238CAC9C2E8}">
        <File Id="ChorusHub.pdb" Name="ChorusHub.pdb" KeyPath="yes" Source="..\..\DepDLLs\ChorusHub.pdb"/>
      </Component>
      <Component Id="ChorusHubApp.exe" Guid="{0929F2F5-249D-40F4-94CB-76FE55FFC0E3}">
        <File Id="ChorusHubApp.exe" Name="ChorusHubApp.exe" Vital="yes" KeyPath="yes" AssemblyManifest="ChorusHubApp.exe" AssemblyApplication="ChorusHubApp.exe" Assembly=".net" Source="..\..\DepDLLs\ChorusHubApp.exe"/>
      </Component>
      <Component Id="ChorusHubApp.pdb" Guid="{8CC356B7-43D5-47B6-B52B-F5462A52381C}">
        <File Id="ChorusHubApp.pdb" Name="ChorusHubApp.pdb" KeyPath="yes" Source="..\..\DepDLLs\ChorusHubApp.pdb"/>
      </Component>

      <!--These are what used to be in ChorusDependencies MM - they appear to be in ChorusMergeModule.msm
        <Component Id="Autofac.dll" Guid="{710011E5-C773-44E0-94C4-EBEC2E3D94C5}">
          <File Id="Autofac.dll" Name="Autofac.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Autofac.dll" AssemblyApplication="Autofac.dll" Assembly=".net" Source="..\..\output\release\Autofac.dll"/>
        </Component>
        <Component Id="AWSSDK.Core.dll" Guid="{2043D3FD-8507-40D2-9464-422DD0C17838}">
          <File Id="AWSSDK.Core.dll" Name="AWSSDK.Core.dll" Vital="yes" KeyPath="yes" AssemblyManifest="AWSSDK.Core.dll" AssemblyApplication="AWSSDK.Core.dll" Assembly=".net" Source="..\..\ChorusDeps\AWSSDK.Core.dll"/>
        </Component>
        <Component Id="AWSSDK.S3.dll" Guid="{F0717881-2ACC-4EE7-98ED-7F4CF8CFC399}">
          <File Id="AWSSDK.S3.dll" Name="AWSSDK.S3.dll" Vital="yes" KeyPath="yes" AssemblyManifest="AWSSDK.S3.dll" AssemblyApplication="AWSSDK.S3.dll" Assembly=".net" Source="..\..\ChorusDeps\AWSSDK.S3.dll"/>
        </Component>
        <Component Id="chorus.exe" Guid="{1E74B5B6-4B96-4641-8B0A-096BFE4470AF}">
          <File Id="chorus.exe" Name="chorus.exe" Vital="yes" KeyPath="yes" AssemblyManifest="chorus.exe" AssemblyApplication="chorus.exe" Assembly=".net" Source="..\..\output\release\chorus.exe"/>
        </Component>
        <Component Id="chorusmerge.exe" Guid="{8E5D8274-D5A9-4171-B839-1C0FE3F7A21E}">
          <File Id="chorusmerge.exe" Name="chorusmerge.exe" Vital="yes" KeyPath="yes" AssemblyManifest="chorusmerge.exe" AssemblyApplication="chorusmerge.exe" Assembly=".net" Source="..\..\output\release\chorusmerge.exe"/>
        </Component>
        <Component Id="Chorus_Help.chm" Guid="{91E123DD-ADD8-4D32-B015-4E4C2596505A}">
          <File Id="Chorus_Help.chm" Name="Chorus_Help.chm" KeyPath="yes" Source="..\..\output\release\Chorus_Help.chm"/>
        </Component>
        <Component Id="Enchant.Net.dll.config" Guid="{7AE5426C-8FE6-416A-A814-1D986D5ECFAC}">
          <File Id="Enchant.Net.dll.config" Name="Enchant.Net.dll.config" KeyPath="yes" Source="..\..\output\release\Enchant.Net.dll.config"/>
        </Component>
        <Component Id="icu.net.dll" Guid="{2C3ABD16-B45E-4DC7-AB81-91DF848F22B4}">
          <File Id="icu.net.dll" Name="icu.net.dll" Vital="yes" KeyPath="yes" AssemblyManifest="icu.net.dll" AssemblyApplication="icu.net.dll" Assembly=".net" Source="..\..\output\release\icu.net.dll"/>
        </Component>
        <Component Id="icu.net.dll.config" Guid="{62491D9C-60E1-493B-8D62-74BBB17C81D5}">
          <File Id="icu.net.dll.config" Name="icu.net.dll.config" KeyPath="yes" Source="..\..\output\release\icu.net.dll.config"/>
        </Component>
        <Component Id="irrKlang.NET4.dll" Guid="{081C0689-7C0C-4CE8-9678-7DFABAB54364}">
          <File Id="irrKlang.NET4.dll" Name="irrKlang.NET4.dll" Vital="yes" KeyPath="yes" AssemblyManifest="irrKlang.NET4.dll" AssemblyApplication="irrKlang.NET4.dll" Assembly=".net" Source="..\..\ChorusDeps\irrKlang.NET4.dll"/>
        </Component>
        <Component Id="libchorus.dll" Guid="{58276F86-F187-47BD-A3C5-45BFA1977B78}">
          <File Id="libchorus.dll" Name="libchorus.dll" Vital="yes" KeyPath="yes" AssemblyManifest="libchorus.dll" AssemblyApplication="libchorus.dll" Assembly=".net" Source="..\..\output\release\libchorus.dll"/>
        </Component>
        <Component Id="SIL.Archiving.dll" Guid="{E82EBE38-986E-4F42-85C7-F72A03A37B91}">
          <File Id="SIL.Archiving.dll" Name="SIL.Archiving.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Archiving.dll" AssemblyApplication="SIL.Archiving.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Archiving.dll"/>
        </Component>
        <Component Id="SIL.BuildTasks.AWS.dll" Guid="{1EE82A07-0CD6-499F-84DB-0CF024A9B00A}">
          <File Id="SIL.BuildTasks.AWS.dll" Name="SIL.BuildTasks.AWS.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.BuildTasks.AWS.dll" AssemblyApplication="SIL.BuildTasks.AWS.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.BuildTasks.AWS.dll"/>
        </Component>
        <Component Id="SIL.BuildTasks.dll" Guid="{53DACA8C-1B27-402F-89D4-6C5B83EA056C}">
          <File Id="SIL.BuildTasks.dll" Name="SIL.BuildTasks.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.BuildTasks.dll" AssemblyApplication="SIL.BuildTasks.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.BuildTasks.dll"/>
        </Component>
        <Component Id="SIL.Core.dll" Guid="{50542EB4-4C7B-4A78-B0DC-665026F9391F}">
          <File Id="SIL.Core.dll" Name="SIL.Core.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Core.dll" AssemblyApplication="SIL.Core.dll" Assembly=".net" Source="..\..\output\release\SIL.Core.dll"/>
        </Component>
        <Component Id="SIL.DblBundle.dll" Guid="{4D39645D-ADA7-4E2B-A5D6-F1BCF9418FA5}">
          <File Id="SIL.DblBundle.dll" Name="SIL.DblBundle.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.DblBundle.dll" AssemblyApplication="SIL.DblBundle.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.DblBundle.dll"/>
        </Component>
        <Component Id="SIL.DictionaryServices.dll" Guid="{7C84102D-FDDC-4D70-B5E3-4358E8DB1924}">
          <File Id="SIL.DictionaryServices.dll" Name="SIL.DictionaryServices.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.DictionaryServices.dll" AssemblyApplication="SIL.DictionaryServices.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.DictionaryServices.dll"/>
        </Component>
        <Component Id="SIL.Lexicon.dll" Guid="{EB15A429-C367-4C07-B5A3-9D3B7294F098}">
          <File Id="SIL.Lexicon.dll" Name="SIL.Lexicon.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Lexicon.dll" AssemblyApplication="SIL.Lexicon.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Lexicon.dll"/>
        </Component>
        <Component Id="SIL.Lift.dll" Guid="{14EA2129-C2C7-476D-9252-CBE52B750292}">
          <File Id="SIL.Lift.dll" Name="SIL.Lift.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Lift.dll" AssemblyApplication="SIL.Lift.dll" Assembly=".net" Source="..\..\output\release\SIL.Lift.dll"/>
        </Component>
        <Component Id="SIL.Media.dll" Guid="{97ADFA4F-21C4-4528-B6E3-3C60597982CA}">
          <File Id="SIL.Media.dll" Name="SIL.Media.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Media.dll" AssemblyApplication="SIL.Media.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Media.dll"/>
        </Component>
        <Component Id="SIL.Scripture.dll" Guid="{A517E269-2140-40AF-B0BB-449AE55E19C0}">
          <File Id="SIL.Scripture.dll" Name="SIL.Scripture.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Scripture.dll" AssemblyApplication="SIL.Scripture.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Scripture.dll"/>
        </Component>
        <Component Id="SIL.Windows.Forms.dll" Guid="{978F4159-BB6E-438B-8EB7-2EDF079B52C2}">
          <File Id="SIL.Windows.Forms.dll" Name="SIL.Windows.Forms.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Windows.Forms.dll" AssemblyApplication="SIL.Windows.Forms.dll" Assembly=".net" Source="..\..\output\release\SIL.Windows.Forms.dll"/>
        </Component>
        <Component Id="SIL.Win.Frms.GeckoBrowAdptr.dll" Guid="{230896CA-3F53-4736-B683-B24263885806}">
          <File Id="SIL.Win.Frms.GeckoBrowAdptr.dll" Name="SIL.Windows.Forms.GeckoBrowserAdapter.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Win.Frms.GeckoBrowAdptr.dll" AssemblyApplication="SIL.Win.Frms.GeckoBrowAdptr.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Windows.Forms.GeckoBrowserAdapter.dll"/>
        </Component>
        <Component Id="SIL.Windows.Forms.Scripture.dll" Guid="{5C46F753-CE3C-42EC-A31B-1D294524AC7A}">
          <File Id="SIL.Windows.Forms.Scripture.dll" Name="SIL.Windows.Forms.Scripture.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Windows.Forms.Scripture.dll" AssemblyApplication="SIL.Windows.Forms.Scripture.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Windows.Forms.Scripture.dll"/>
        </Component>
        <Component Id="SIL.Win.Frms.WritSys.dll" Guid="{B5EFD824-63E2-4AB0-96A5-C9F4EA59A5B4}">
          <File Id="SIL.Win.Frms.WritSys.dll" Name="SIL.Windows.Forms.WritingSystems.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SIL.Win.Frms.WritSys.dll" AssemblyApplication="SIL.Win.Frms.WritSys.dll" Assembly=".net" Source="..\..\ChorusDeps\SIL.Windows.Forms.WritingSystems.dll"/>
        </Component>
        <Component Id="System.Net.Http.dll" Guid="{80B56D90-31A4-469B-9720-E7DF282499D6}">
          <File Id="System.Net.Http.dll" Name="System.Net.Http.dll" Vital="yes" KeyPath="yes" AssemblyManifest="System.Net.Http.dll" AssemblyApplication="System.Net.Http.dll" Assembly=".net" Source="..\..\output\release\System.Net.Http.dll"/>
        </Component>
        <Component Id="Vulcan.Uczniowie.HelpProvider.dll" Guid="{BD424BDF-EBAC-4244-8ACF-3B6A31DC11B3}">
          <File Id="Vulcan.Uczniowie.HelpProvider.dll" Name="Vulcan.Uczniowie.HelpProvider.dll" Vital="yes" KeyPath="yes" AssemblyManifest="Vulcan.Uczniowie.HelpProvider.dll" AssemblyApplication="Vulcan.Uczniowie.HelpProvider.dll" Assembly=".net" Source="..\..\output\release\Vulcan.Uczniowie.HelpProvider.dll"/>
        </Component>
        -->

      <Component Id="System.ValueTuple.dll" Guid="{EF0E17FF-FACD-4CE1-A77E-314D9D432820}">
        <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Vital="yes" KeyPath="yes" AssemblyManifest="System.ValueTuple.dll" AssemblyApplication="System.ValueTuple.dll" Assembly=".net" Source="..\..\output\release\System.ValueTuple.dll"/>
      </Component>
      <Component Id="System.Management.dll" Guid="{C016D47F-7EB0-4BF8-99F6-CE6E97161DEA}">
        <File Id="System.Management.dll" Name="System.Management.dll" Vital="yes" KeyPath="yes" AssemblyManifest="System.Management.dll" AssemblyApplication="System.Management.dll" Assembly=".net" Source="..\..\output\release\System.Management.dll"/>
      </Component>

      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="WebBrowserComponent" Guid="{F0AFC8A8-A173-42A4-8B9F-20BBE96C8786}">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION" Name="StoryEditor.exe" Type="integer" Value="9999" />
        <RegistryValue Root="HKLM" Key="Software\Wow6432Node\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION" Name="StoryEditor.exe" Type="integer" Value="9999" />
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="EcPluginsComponents" Directory="Plugins">
      <Component Id="SIEC4.0.0.0PluginDetails.xml" Guid="{90F9F43E-DFB2-4DE2-8994-5AA83F275E06}">
        <File Id="SIEC4.0.0.0PluginDetails.xml" Name="SIEC 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\output\release\EC\Plugins\SIEC 4.0.0.0 Plugin Details.xml"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="LocDataComponents" Directory="LocData">
      <Component Id="es.xml" Guid="{9DA752C0-89DF-417B-A777-D5CD19D947E4}">
        <File Id="es.xml" Name="es.xml" KeyPath="yes" Source="..\..\output\release\LocData\es.xml"/>
      </Component>
      <Component Id="fr.xml" Guid="{500B39F1-D726-4214-AF98-6BB5655A0723}">
        <File Id="fr.xml" Name="fr.xml" KeyPath="yes" Source="..\..\output\release\LocData\fr.xml"/>
      </Component>
      <Component Id="id.xml" Guid="{ECF9BB6C-2E03-4C2A-B503-4CEFF987CC83}">
        <File Id="id.xml" Name="id.xml" KeyPath="yes" Source="..\..\output\release\LocData\id.xml"/>
      </Component>
      <Component Id="pt.xml" Guid="{9D9D352F-EA17-4259-AC83-88386E5BC057}">
        <File Id="pt.xml" Name="pt.xml" KeyPath="yes" Source="..\..\output\release\LocData\pt.xml"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SwordModsComponents" Directory="mods.d">
      <Component Id="net.conf" Guid="{E6DF8CB2-820B-4DAD-A89C-80E46BD52E22}">
        <File Id="net.conf" Name="net.conf" KeyPath="yes" Source="..\..\output\release\SWORD\mods.d\net.conf"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SwordNetBibleComponents" Directory="net">
      <Component Id="nt.bzs" Guid="{49FCF673-55E8-469A-BF50-6409A4A22C2F}">
        <File Id="nt.bzs" Name="nt.bzs" KeyPath="yes" Source="..\..\output\release\SWORD\modules\texts\ztext\net\nt.bzs"/>
      </Component>
      <Component Id="nt.bzv" Guid="{7E847FA7-8A03-4261-A4FA-404EBB19C35E}">
        <File Id="nt.bzv" Name="nt.bzv" KeyPath="yes" Source="..\..\output\release\SWORD\modules\texts\ztext\net\nt.bzv"/>
      </Component>
      <Component Id="nt.bzz" Guid="{26B668D8-CDAE-4B8D-8DB3-C1791EC1F0F0}">
        <File Id="nt.bzz" Name="nt.bzz" KeyPath="yes" Source="..\..\output\release\SWORD\modules\texts\ztext\net\nt.bzz"/>
      </Component>
      <Component Id="ot.bzs" Guid="{B7783F9E-329B-4555-8ED7-F6A9BBD9792B}">
        <File Id="ot.bzs" Name="ot.bzs" KeyPath="yes" Source="..\..\output\release\SWORD\modules\texts\ztext\net\ot.bzs"/>
      </Component>
      <Component Id="ot.bzv" Guid="{47BBF1FF-D4B4-4725-B88C-D09F1DEA18D9}">
        <File Id="ot.bzv" Name="ot.bzv" KeyPath="yes" Source="..\..\output\release\SWORD\modules\texts\ztext\net\ot.bzv"/>
      </Component>
      <Component Id="ot.bzz" Guid="{F5FDF029-7099-4EA5-ACA5-7029B016125B}">
        <File Id="ot.bzz" Name="ot.bzz" KeyPath="yes" Source="..\..\output\release\SWORD\modules\texts\ztext\net\ot.bzz"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ApplicationStartMenuFolderComponents" Directory="ApplicationStartMenuFolder">
      <Component Id="MyAppStartMenuFolder" Guid="{DE9A76D8-DD2F-486B-BA9F-B28D15A642BF}">
        <CreateFolder />
        <RemoveFolder Id="PurgeAppStartMenuFolder" On="uninstall" />
        <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  
  </Fragment>

</Wix>
